@import './../../styles.scss';


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 112px;
    padding: 0 112px;

    .logo {
        text-align: center;
        text-decoration: none;
        width: 104px;

        span {
            color: white;
            font-size: 28px;
            transition: all ease-in-out 125ms;

            b {
                color: $cpt-color;
            }

            &:hover {
                font-size: 30px;
            }
        }
    }

    .header-links {
        display: grid;
        grid-template-columns: 126px 98px 108px;
        width: 420px;
        gap: 44px;

        a {
            cursor: pointer;
            font-size: 23px;
            line-height: 27.6px;
            color: $cpt-color;
            text-decoration: none;
            transition: all ease-in-out 125ms ;
            text-align: center;

            &:hover {
                cursor: pointer;
                font-weight: 700;
            }
        }
    }



                // .header-links {
                //     display: flex;
                //     position: relative;
                //     width: 420px;
                //     // gap: 36px;
        
        
                //     a {
                //         cursor: pointer;
                //         font-size: 23px;
                //         line-height: 27.6px;
                //         color: $cpt-color;
                //         text-decoration: none;
                //         transition: all ease-in-out 125ms;
        
                //         &:nth-child(2) {
                //             position: absolute;
                //             left: 50%;
                //             transform: translateX(-50%);
        
                //         }
        
                //         &:last-child {
                //             position: absolute;
                //             right: 0;
                //         }
        
                //         &:hover {
                //             cursor: pointer;
                //             font-weight: 700;
                //         }
                //     }
                // }
}