<header>
  <a class="logo" href="#start-section"
    ><span><b>R</b>egina</span></a
  >
  <div class="header-links" [class.d-none]="!mainPageDisplayed">
    <a id="about-me-link" (click)="scrollTo('about-me')">About me</a>
    <a id="skill-set-link" (click)="scrollTo('skill-set')">Skill set</a>
    <a href="#my-work">My work</a>
  </div>
  <div class="overlay-menu" [class.d-none]="!mainPageDisplayed">
    <div
      id="menu-bar-element"
      class="menu-bar-element"
      (click)="toggleMenu()"
      [ngClass]="{
        'start-menu-bar-animation': overlayMenuOpen,
        'close-menu-bar-animation': !overlayMenuOpen
      }"
    ></div>
    <div
      class="overlay-menu-layer"
      [ngClass]="{ 'open-overlay': overlayMenuOpen }"
    >
      <a id="about-me-link" (click)="scrollTo('about-me'); toggleMenu()"
        >About me</a
      >
      <a id="skill-set-link" (click)="scrollTo('skill-set'); toggleMenu()"
        >Skill set</a
      >
      <a href="#my-work" (click)="toggleMenu()">My work</a>
      <a href="#contact" (click)="toggleMenu()">Contact</a>
    </div>
  </div>
  <a
    class="go-back-btn"
    [routerLink]="['']"
    [class.display]="!mainPageDisplayed"
    ><img src="assets/img/icon/go-up.svg" alt=""
  /></a>
</header>
