<div class="footer-section">
  <a class="logo" href="#start-section"
    ><span><b>R</b>egina</span></a
  >
  <div class="footer-impressum">
    <p>© Regina Gering 2024</p>
    <a href="imprint">Imprint</a>
    <!-- <a (click)="openDialog()">Imprint</a> -->
    <!-- <button (click)="openImprintDialog()" data-open-modal>Imprint</button> -->
  </div>
  <div class="icon-container">
    <a href="https://github.com/" target="_blank"
      ><img src="assets/img/icon/github_w.svg" alt="" /></a
    ><a href="mailto:Regina.Gering@web.de"
      ><img src="assets/img/icon/mail_w.svg" alt="" /></a
    ><a href="https://www.linkedin.com" target="_blank"
      ><img src="assets/img/icon/linkedin_w.svg" alt=""
    /></a>
  </div>
  <!-- <dialog data-modal open>
    <div>This is a modal</div>
    <button data-close-modal>Close</button>
  </dialog> -->
</div>
