<div class="footer-section">
  <a class="logo" href="#start-section"
    ><span><b>R</b>egina</span></a
  >
  <div class="footer-impressum">
    <p>© Regina Gering 2024</p>
    <a [routerLink]="['imprint']">Imprint</a>
  </div>
  <div class="icon-container">
    <a href="https://github.com/Regige" target="_blank"
      ><img src="assets/img/icon/github_w.svg" alt="" /></a
    ><a href="mailto:contact@regina-gering.com"
      ><img src="assets/img/icon/mail_w.svg" alt="" /></a
    ><a href="www.linkedin.com/in/regina-gering-727b27201" target="_blank"
      ><img src="assets/img/icon/linkedin_w.svg" alt=""
    /></a>
  </div>
</div>
