@import './../../styles.scss';


.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -4px 0px 0px #FA7902;
    background-color: $cpt-bg-color;
    height: 240px;
    padding: 0 112px;

    .logo {
        text-align: center;
        text-decoration: none;
        width: 116px;

        span {
            color: white;
            font-size: 32px;
            transition: all ease-in-out 125ms;
    
            b {
                color: $cpt-color;
            }
    
            &:hover {
                font-size: 33px;
            }
        }
    }

    .footer-impressum {
        color: white;
        position: relative;

        p {
            margin: 0;
            font-size: 24px;
            line-height: 27.6px;
        }

        a {
            color: white;
            font-size: 16px;
            font-weight: 300;
            line-height: 19.2px;
            position: absolute;
            top: 48px;
            left: 50%;
            transform: translateX(-50%);
            text-decoration: none;

            &:hover {
                cursor: pointer;
                font-weight: 500;
            }

            @media (max-width: 760px) {
                top: 124px;
            }
        }
        a::after {
            content: '';
            position: absolute;
            width: 70%;
            transform: scaleX(0);
            border-radius: 5px;
            height: 0.05em;
            bottom: 0;
            left: 15%;
            background: currentColor;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }
        a:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }

    .icon-container {
        display: flex;
        gap: 32px;

        a {
            transition: all 125ms ease-in-out;
            img {
                width: 30px;
                height: auto;
            }
            &:hover {
                cursor: pointer;
                transform: scale(1.2);
            }
        }
        @media (max-width: 760px) {
            padding: 10px 0 0 0;
        }
    }

    @media (max-width: 992px) {
        padding: 0 80px;
    }

    @media (max-width: 760px) {
        flex-direction: column;
        gap: 30px;
        height: auto;
        padding: 24px 64px 88px 64px;
    }
}