<div class="start-screen-bg-element">
  <img src="assets/img/vector_l.svg" alt="" />
</div>
<div
  class="about-me-section"
  appInView
  (visibilityChange)="onVisibilityChange($event)"
>
  <img src="assets/img/bg_colors/c_mid.svg" alt="" class="about-me-bg-color" />
  <div class="section-sep-element">
    <div class="section-line"></div>
    <div class="icon-container">
      <a href="https://github.com/Regige" target="_blank"
        ><img src="assets/img/icon/github_w.svg" alt="" /></a
      ><a href="mailto:contact@regina-gering.com"
        ><img src="assets/img/icon/mail_w.svg" alt="" /></a
      ><a href="www.linkedin.com/in/regina-gering-727b27201" target="_blank"
        ><img src="assets/img/icon/linkedin_w.svg" alt=""
      /></a>
    </div>
  </div>
  <div class="about-me-content">
    <h2 id="about-me-h2">Let's work together</h2>
    <div id="about-me-text" class="about-me-text">
      <p>
        I am a front-end developer based in Germany with project experience in
        developing web applications using JavaScript, TypeScript, and Angular. I
        enjoy solving problems and helping designers and companies bring their
        ideas to life. I am looking forward to continuing my developer career
        with a position as a junior web developer.<br /><br />If you think I’d
        be a good match for your projects, contact me!
      </p>
      <a href="#contact"><button>Send a message</button></a>
    </div>
  </div>
</div>
