@import './../../../styles.scss';


.start-screen-bg-element {
    width: 100vw;
    position: absolute;

    @media (min-width: 3441px) {
        width: 0;
    }

    @media (max-width: 3440px) {
        top: -620px;
    }

    @media (max-width: 2560px) {
        top: -390px;
    }

    @media (max-width: 2080px) {
        top: -324px;
    }

    @media (max-width: 1920px) {
        top: -416px;
    }

    @media (max-width: 1680px) {
        // top: 468px;
        top: -304px;
    }

    @media (max-width: 1160px) {
        top: -238px;
    }

    @media (max-width: 992px) {
        top: -278px;
    }

    @media (max-width: 760px) {
        top: -218px;
    }

    @media (max-width: 616px) {
        top: -200px;
    }

    @media (max-width: 532px) {
        top: -216px;
    }

    @media (max-width: 412px) {
        top: -194px;
    }

    // height and width

    @media (min-height: 1300px) and (max-width: 2560px) and (min-width: 1921px) {
        top: -490px;
    }

    @media (max-height: 848px) and (max-width: 1680px) and (min-width: 1369px) {
        top: -262px;
    }

    @media (max-height: 808px) and (max-width: 1510px) and (min-width: 1369px) {
        top: -210px;
    }

    @media (max-height: 824px) and (max-width: 1368px) and (min-width: 1161px) {
        top: -244px;
    }

    @media (max-height: 744px) and (max-width: 1160px) and (min-width: 993px) {
        top: -192px;
    }

    @media (max-height: 740px) and (max-width: 992px) and (min-width: 761px) {
        top: -228px;
    }

    @media (max-height: 640px) and (max-width: 992px) and (min-width: 761px) {
        top: -178px;
    }

    @media (max-height: 560px) and (max-width: 992px) and (min-width: 761px) {
        top: -138px;
    }
}

.about-me-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    .about-me-bg-color {
        right: -400px;
        position: absolute;
        top: -100px;

        @media (max-width: 1368px) {
            width: 700px;
        }

        @media (max-width: 1160px) {
            width: 650px;
        }

        @media (max-width: 992px) {
            width: 600px;
        }

        @media (max-width: 760px) {
            top: 64px;
        }
    }


    .section-sep-element {
        display: flex;
        gap: 32px;
        align-items: center;
        width: 100%;

        .section-line {
            background-color: $cpt-color;
            height: 4px;
            width: 80px;
            z-index: 1;
        }

        .icon-container {
            display: flex;
            gap: 32px;
            z-index: 1;
            
            a {
                display: flex;
                align-items: center;
                transition: all 125ms ease-in-out;

                img {
                    width: 30px;
                    height: auto;
                }
            
                &:hover {
                    cursor: pointer;
                    transform: scale(1.2);
                }
            }
        }

        @media (max-width: 992px) {
            gap: 16px;
            .section-line {
                width: 64px;
            }
            .icon-container {
                gap: 20px;
            }
        }

        @media (max-width: 760px) {
            gap: 14px;
            .section-line {
                width: 50px;
            }
        }

        @media (max-width: 532px) {
            .section-line {
                width: 40px;
            }
        }
    }
    
    .about-me-content {
        display: flex;
        align-items: start;
        justify-content: center;
        gap: 64px;
        box-sizing: border-box;
        max-width: 1600px;
        padding: 112px 112px;

        h2 {
            color: $cpt-color;
            width: 50%;
            text-align: center;
            font-size: 121px;
            line-height: 121px;
            opacity: 0;
            transition: all 1s ease-in-out;
            transform: translateX(-54px);
            z-index: 1;
        }
    
        .about-me-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
            opacity: 0;
            transition: all 1s ease-in-out;
            transform: translateX(54px);
            width: 50%;
            z-index: 1;
    
            p {
                margin: 0;
                font-size: 23px;
                line-height: 27.6px;
            }
    
            a {
                button {
                    background-color: transparent;
                    border: 2px solid $cpt-color;
                    border-radius: 10px;
                    color: $cpt-color;
                    font-size: 23px;
                    line-height: 27.6px;
                    padding: 15px 30px 15px 30px;
                    transition: all ease-in-out 125ms;
        
                    &:hover {
                        border: 2px solid $cpt-color-line;
                        color: $cpt-color-line;
                        cursor: pointer;
                        transform: scale(1.05);
                    }
                }
            }
        }

        @media (max-width: 1368px) {
            h2 {
                font-size: 90px;
                line-height: 104px;
            }

            .about-me-text {
                p {
                    font-size: 20px;
                    line-height: 24.6px;
                }
            }
        }

        @media (max-width: 1160px) {
            h2 {
                font-size: 72px;
                line-height: 80px;
            } 
        }

        @media (max-width: 992px) {
            gap: 48px;
            padding: 80px;

            h2 {
                font-size: 64px;
                line-height: 72px;
            }
            .about-me-text {
                p {
                    font-size: 18px;
                }
                a {
                    button {
                        font-size: 22px;
                        padding: 12px 22px;
                    }
                }
            }
        }

        @media (max-width: 760px) {
            flex-direction: column;
            align-items: center;
            gap: 48px;
            padding: 64px;

            h2 {
                width: 100%;
            }
            .about-me-text {
                width: 100%;
            }
        }

        @media (max-width: 532px) {
            gap: 32px;
            padding: 40px;

            h2 {
                font-size: 48px;
                line-height: 56px;
            }
        }

        @media (max-width: 412px) {
            gap: 24px;
            padding: 28px;

            h2 {
                font-size: 40px;
                line-height: 44px;
            }
            .about-me-text {
                gap: 30px;
                p {
                    font-size: 16px;
                    line-height: 22.6px;
                }
                a {
                    button {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

.show {
    opacity: 1 !important;
    transform: translateX(0) !important;
}