@import './../../../styles.scss';

@mixin fontStyling() {
    color: white;
    font-family: 'Poppins';
    font-size: 16px;
}


.invalid-text {
    position: absolute;
    left: 0;
    bottom: -20px;
    color: #E61C40;
    font-size: 13px;
    line-height: 16.8px;
}

.input-invalid {
    border: 1px solid #E61C40;
    background-image: url('./../../../assets/img/icon/red-excl.svg');
    background-repeat: no-repeat;
    background-position: right 25px top 15px;
    @include fontStyling();
}

.btn-abled {
    background-color: transparent;
    border: 2px solid $cpt-color-line !important;
    color: $cpt-color-line !important;

    // &:hover {
    //     box-shadow: $cpt-box-shadow;
    //     cursor: pointer;
    // }
}



.contact-section {


    .section-sep-element {
        display: flex;
        align-items: center;
        gap: 32px;
        margin-bottom: 24px;

        .section-line {
            width: 80px;
            height: 4px;
            background-color: $cpt-color;
        }
        
        h2 {
            color: $cpt-color;
            font-size: 90px;
            line-height: 108px;
        }

        @media (max-width: 1160px) {
            h2 {
                font-size: 82px;
                line-height: 98px;
            }
        }
        @media (max-width: 992px) {
            gap: 16px;
            h2 {
                font-size: 72px;
                line-height: 96px;
                }
            .section-line {
                width: 64px;
            }
        }
        @media (max-width: 760px) {
            gap: 14px;
            h2 {
                font-size: 64px;
                line-height: 72px;
                }
            .section-line {
                width: 50px;
            }
        }
    }


    .contact-container {
            display: flex;
            justify-content: center;
            gap: 64px;
            box-sizing: border-box;
            max-width: 1600px;
            padding: 0 112px;

            .contact-text {
                opacity: 0;
                transition: all 1s ease-in-out;
                transform: translateX(-54px);
                width: 50%;

                h4 {
                    color: $cpt-color;
                    font-size: 32px;
                    font-weight: 700;
                    line-height: 38.4px;
                    margin: 0;
                }

                p, span {
                    font-size: 16px;
                    line-height: 19.2px;
                }

                span {
                    color: $cpt-color;
                }

                @media (max-width: 992px) {
                    h4 {
                        font-size: 28px;
                        line-height: 34.4px;
                    }
                }
            }

            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 48px;
                opacity: 0;
                transition: all 1s ease-in-out;
                transform: translateX(54px);
                width: 50%;

                .contact-input-container {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    gap: 32px;
                    width: 100%;

                    .input-div {
                        width: 100%;
                        position: relative;

                        input[type=text], [type=email] {
                            height: 57px;
                        }

                        textarea {
                            display: block;
                            height: 202px;
                        }

                        input[type=text], [type=email], textarea {
                            background-color: transparent;
                            border: 1px solid $cpt-color;
                            border-radius: 10px;
                            box-sizing: border-box;

                            padding: 15px 25px;
                            transition: 0.5s;
                            width: 100%;
                        
                            &::placeholder {
                                @include fontStyling();
                            }
                        
                            &:hover {
                                cursor: pointer;
                                border: 1px solid $cpt-color-line;
                            }

                            &:focus {
                                outline: none;
                                border: 1px solid $cpt-color-line;
                                background-color: transparent;
                                @include fontStyling();
                            }

                            &:valid {
                                border: 1px solid #70E61C;
                                background-image: url('./../../../assets/img/icon/green-ckeck.svg');
                                background-repeat: no-repeat;
                                background-position: right 25px top 15px;
                                @include fontStyling();
                            }

                            &:autofill {
                                @include fontStyling();
                                background-color: transparent !important;
                            }
                            &:-webkit-autofill {
                                @include fontStyling();
                                background-color: transparent !important;
                            }
                        }
                    }

                    .input-check-container {
                        position: relative;

                        .input-check {
                            -webkit-appearance: none;
                            appearance: none;
                            background-color: transparent;
                            margin: 0 6px 0 0;
                            width: 1em;
                            height: 1em;
                            border-radius: 0.15em;
                            border: 1px solid $cpt-color;
                            transform: translateY(0.075em);

                            &:checked {
                                box-shadow: inset 0px 0px 0px 3px $cpt-bg-color;
                                background-color: $cpt-color;
                            }

                            &:hover {
                                cursor: pointer;
                            }
                        }

                        label {
                            font-size: 14px;
                            line-height: 16.8px;

                            a {
                                color: $cpt-color;
                                position: relative;
                                text-decoration: none;

                                &:hover {
                                    cursor: pointer;
                                }
                            }
                            a::after {
                                content: '';
                                position: absolute;
                                width: 80%;
                                transform: scaleX(0);
                                border-radius: 5px;
                                height: 0.075em;
                                bottom: 0;
                                left: 10%;
                                background: currentColor;
                                transform-origin: bottom right;
                                transition: transform 0.25s ease-out;
                            }
                            a:hover::after {
                                transform: scaleX(1);
                                transform-origin: bottom left;
                            }
                        }

                        // .invalid-text-checkbox {
                        //     position: absolute;
                        //     left: 0;
                        //     bottom: -20px;
                        //     color: #E61C40;
                        //     font-size: 13px;
                        //     line-height: 16.8px;
                        // }
                    }

                }

                input[type=submit] {
                    background-color: transparent;
                    border: 2px solid #b4a494;
                    border-radius: 10px;
                    color: #b4a494;
                    font-size: 23px;
                    line-height: 27.6px;
                    padding: 15px 30px;

                    &:hover {
                        box-shadow: $cpt-box-shadow;
                        cursor: pointer;
                    }

                    @media (max-width: 992px) {
                        font-size: 22px;
                        padding: 12px 22px;
                    }
                }
            }

        @media (max-width: 992px) {
            gap: 48px;
            padding: 0 80px;
        }

        @media (max-width: 760px) {
            flex-direction: column;
            padding: 0 64px;

            .contact-text {
                width: 100%;
                transform: translateX(-32px);
            }
            form {
                width: 100%;
                transform: translateX(-80px);
            }
        }
    }

    .cta-up-bt {
        display: flex;
        justify-content: end;
        box-sizing: border-box;
        padding: 64px 112px 80px 112px;
        width: 100%;
        
        a {
            transition: all 125ms ease-in-out;
    
            &:hover {
                transform: scale(1.1);
            }
        }

        @media (max-width: 992px) {
            padding: 64px 80px;
        }
    }
}

