.privacy-police {


    a {
        color: white;
        text-decoration-thickness: 1px;
        text-underline-position: under;

        overflow-wrap: break-word;
        word-wrap: break-word;

        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    hr {
        border: none;
        border-top: 1px solid white;
    }
    
    @media (max-width: 760px) {
        h1 {
            font-size: 28px;
        }
        h2 {
            font-size: 22px;
        }
        h3 {
            font-size: 17px;
        }
    }
    
    @media (max-width: 532px) {
        h1 {
            font-size: 24px;
        }
        h2 {
            font-size: 19px;
        }
        h3 {
            font-size: 16px;
        }
    }

    @media (max-width: 412px) {
        h1 {
            font-size: 20px;
        }
        h2 {
            font-size: 18px;
        }
    }
}