<div
  class="contact-section"
  appInView
  (visibilityChange)="onVisibilityChange($event)"
>
  <div class="section-sep-element">
    <div class="section-line"></div>
    <h2 class="ft-baloo">Contact</h2>
  </div>

  <div class="contact-container">
    <div id="contact-text" class="contact-text">
      <h4>Got a problem to solve?</h4>
      <p>
        Contact me through this form, I am interested in hearing you, knowing
        your ideas and contributing to your projects with my work.
      </p>
      <span>Need a Frontend developer? <b>Contact me!</b></span>
    </div>
    <div id="contact-input" class="contact-input">
      <div class="contact-input-container">
        <input
          type="text"
          placeholder="Your name"
          name=""
          id=""
          class="input-field"
          required
        />
        <input
          type="email"
          placeholder="Your email"
          name=""
          id=""
          class="input-field"
          required
        />
        <textarea
          placeholder="Your message"
          name=""
          id=""
          cols="30"
          rows="10"
          required
        ></textarea>
        <div class="input-check-container">
          <input
            type="checkbox"
            name=""
            id="privacy-police"
            class="input-check"
            required
          />
          <label for="privacy-police"
            >I've read the <a href="">privacy police</a> and agree to the
            processing of my data as outlined.</label
          >
        </div>
      </div>
      <button>Send message</button>
    </div>
  </div>
  <div class="cta-up-bt">
    <a href="#start-section"><img src="assets/img/icon/go-up.svg" alt="" /></a>
  </div>
</div>
