@import './../../../../styles.scss';


// .project-img {
//     box-shadow: $cpt-box-shadow;
//     // background-color: $cpt-color;
//     height: 392px;
//     width: 50%;
        
//     img {
//         // height: 392px;
//         object-fit: cover;
//         // width: 620px;
//     }
// }

// .align-end {
//     align-items: end !important;
//     transform: translateX(-32px);
// }

// .just-con-start {
//     justify-content: start !important;
//     transform: translateX(32px);
// }

// .text-al-right {
//     text-align: right !important;
// }


.project-img {
    display: flex;
    justify-content: end;
    opacity: 0;
    transition: all 1s ease-in-out;
    transform: translateX(-32px);
    width: 50%;

    img {
        // box-shadow: $cpt-box-shadow;
        // border: 14px solid #b4a494;
        // box-shadow: 0px 0px 0px 1px $cpt-color;

        border-radius: 10px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.20);

        height: 392px;
        max-width: 620px;
        width: 100%;
        object-fit: cover;
        transition: all ease-in-out 125ms;

        &:hover {
            cursor: pointer;
            transform: scale(1.05);
        }

        @media (max-width: 1360px) {
            height: 352px;
        }

        @media (max-width: 1160px) {
            height: 278px;
        }

        @media (max-width: 992px) {
            object-fit: contain;
            height: auto;
        }
    }

    @media (max-width:992px) {
        display: block;
    }
    @media (max-width:760px) {
        justify-content: start !important;
        transform: translateX(-32px);
        width: auto;
    }
}


.project-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 620px;
    opacity: 0;
    transition: all 1s ease-in-out;
    transform: translateX(32px);
    width: 50%;

    h3 {
        font-size: 48px;
        line-height: 48px;
        margin: 0;
    }

    h4 {
        font-size: 24px;
        font-weight: 400;
        line-height: 27.6px;
        margin: 16px 0;    
    }

    h3, h4 {
        color: $cpt-color;
    }

    button {
        background-color: transparent;
        border: 2px solid $cpt-color;
        border-radius: 10px;
        color: $cpt-color;
        font-size: 24px;
        line-height: 27.6px;
        padding: 15px 30px;
        transition: all 125ms ease-in-out;

        &:hover {
            cursor: pointer;
            color: $cpt-color-line;
            border: 2px solid $cpt-color-line;
            transform: scale(1.05);
        }
    }

    @media (max-width: 1160px) {
        h3 {
            font-size: 40px;
            line-height: 44px;
        }
        h4 {
            margin: 8px 0;
            line-height: 24.6px;
        }
    }

    @media (max-width: 992px) {
        h3 {
            font-size: 38px;
            line-height: 40px;
        }
        h4 {
            margin: 0;
            font-size: 18px;
        }
        button {
            font-size: 22px;
            padding: 12px 22px;
        }
    }

    @media (max-width:760px) {
        width: auto;
        align-items: start !important;
        transform: translateX(-80px);

        p{
            text-align: start !important;
        }
    }

    @media (max-width: 412px) {
        button {
            font-size: 20px;
        }
    }
}


.align-end {
    align-items: end;
    transform: translateX(-32px);

    @media (max-width: 760px) {
        transform: translateX(-80px);
    }
}

.just-con-start {
    justify-content: start;
    transform: translateX(32px);

    @media (max-width:760px) {
        // justify-content: start !important;
        transform: translateX(-32px);
    }
}

.text-al-right {
    text-align: right;
}


