@import './../../styles.scss';


.skill-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    background-color: $cpt-color;
    color: white;
    height: 632px;
    padding: 0 112px;

    h2 {
        font-size: 96px;
        line-height: 96px;
    }

    .skill-icon-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            font-size: 16px;
            line-height: 19.2px;
            font-weight: 300;
            box-sizing: border-box;
            margin-bottom: 40px;
            width: calc(20%);
            transition: all ease-in-out 125ms;
            
            &:hover {
                transform: translateY(-10px);
                font-weight: 600;
            }
            

            // img {
            //     &:hover {
            //         transition: all ease-in-out 125ms;
            //         transform: translateY(-10px);
            //     }
            // }

            // span {
            //     &:hover {
            //         font-weight: 600;
            //     }
            // }
        }
    }
}