@import './../../styles.scss';


.skill-section {
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    gap: 64px;
    // background-color: $cpt-color;
    // color: white;
    // height: 632px;
    padding: 64px 0 112px 0;

    .section-sep-element {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 32px;
        
        h2 {
            color: $cpt-color;
            font-size: 96px;
            line-height: 96px;
        }
        
        .section-line {
            width: 80px;
            height: 4px;
            background-color: $cpt-color;
        }
    }

    .skill-icon-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 112px;
        box-sizing: border-box;
        opacity: 0;
        transition: all 1s ease-in-out;
        transform: translateX(200px);

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            font-size: 16px;
            line-height: 19.2px;
            font-weight: 300;
            box-sizing: border-box;
            margin-bottom: 40px;
            width: calc(20%);
            transition: all ease-in-out 125ms;
            
            &:hover {
                transform: translateY(-10px);
                font-weight: 600;
            }
            

            // img {
            //     &:hover {
            //         transition: all ease-in-out 125ms;
            //         transform: translateY(-10px);
            //     }
            // }

            // span {
            //     &:hover {
            //         font-weight: 600;
            //     }
            // }
        }
    }
}

// .d-none {
//     // display: none;
//     opacity: 0;
// }

.show {
    opacity: 1 !important;
    transform: translateX(0) !important;
}