<div
  class="skill-section"
  appInView
  (visibilityChange)="onVisibilityChange($event)"
>
  <div class="section-sep-element">
    <h2 class="ft-baloo">Skill set</h2>
    <div class="section-line"></div>
  </div>
  <div id="skill-icon-container" class="skill-icon-container">
    <div>
      <img src="assets/img/icon/angular.svg" alt="" />
      <span>Angular</span>
    </div>
    <div>
      <img src="assets/img/icon/typescript.svg" alt="" />
      <span>TypeScript</span>
    </div>
    <div>
      <img src="assets/img/icon/javascript.svg" alt="" />
      <span>JavaScript</span>
    </div>
    <div>
      <img src="assets/img/icon/html.svg" alt="" />
      <span>HTML</span>
    </div>
    <div>
      <img src="assets/img/icon/scrum.svg" alt="" />
      <span>Scrum</span>
    </div>
    <div>
      <img src="assets/img/icon/firebase.svg" alt="" />
      <span>Firebase</span>
    </div>
    <div>
      <img src="assets/img/icon/git.svg" alt="" />
      <span>Git</span>
    </div>
    <div>
      <img src="assets/img/icon/css.svg" alt="" />
      <span>CSS</span>
    </div>
    <div>
      <img src="assets/img/icon/api.svg" alt="" />
      <span>Rest-Api</span>
    </div>
    <div>
      <img src="assets/img/icon/matdesign.svg" alt="" />
      <span>Material Design</span>
    </div>
  </div>
</div>

<!-- appObserveElement
  #intersection="intersection"
  [class.d-none]="intersection._isIntersecting"
  (isIntersecting)="isIntersecting($event)"
  [isContinuous]="true" -->
