@import './../../../styles.scss';


.skill-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 64px;
    padding: 64px 0;
    overflow-x: hidden;

    .skill-set-bg-color {
        left: -54px;
        position: absolute;
        top: -300px;

        @media (max-width: 1368px) {
            width: 800px;
            left: -88px;
            top: -240px;
        }
        @media (max-width: 1160px) {
            width: 750px;
            left: -124px;
            top: -280px;
        }
        @media (max-width: 992px) {
            width: 700px;
            left: -192px;
            top: -200px;
        }
        @media (max-width: 760px) {
            width: 650px;
            left: -160px;
            top: -50px;
        }
     }

    .section-sep-element {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 32px;
        width: 100%;
        z-index: 1;
        
        h2 {
            color: $cpt-color;
            font-size: 90px;
            line-height: 108px;
        }
        
        .section-line {
            width: 80px;
            height: 4px;
            background-color: $cpt-color;
        }

        @media (max-width: 1160px) {
            h2 {
                font-size: 82px;
                line-height: 98px;
            }
        }

        @media (max-width: 992px) {
            gap: 16px;
            h2 {
                font-size: 72px;
                line-height: 96px;
                }
            .section-line {
                width: 64px;
            }
        }

        @media (max-width: 760px) {
            gap: 14px;
            h2 {
                font-size: 64px;
                line-height: 72px;
                }
            .section-line {
                width: 50px;
            }
        }

        @media (max-width: 532px) {
            gap: 10px;
            h2 {
                font-size: 56px;
                line-height: 64px;
            }
            .section-line {
                width: 30px;
            }
        }

        @media (max-width: 412px) {
            gap: 8px;
            h2 {
                font-size: 48px;
                line-height: 48px;
            }
            .section-line {
                width: 20px;
            }
        }
    }

    .skill-icon-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 112px;
        box-sizing: border-box;
        opacity: 0;
        transition: all 1s ease-in-out;
        transform: translateX(200px);
        width: 100%;
        max-width: 1600px;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            font-size: 16px;
            line-height: 19.2px;
            font-weight: 300;
            box-sizing: border-box;
            margin-bottom: 40px;
            width: calc(20%);
            transition: all ease-in-out 125ms;

            span {
                text-align: center;
            }
            
            &:hover {
                transform: translateY(-10px);
                font-weight: 600;
            }
        }

        @media (max-width: 992px) {
            padding: 0 80px;
        }

        @media (max-width: 760px) {
            padding: 0 64px;

            div {
                width: 25%;

                img {
                    width: 56px;
                }
            }
        }

        @media (max-width: 532px) {
            padding: 0 40px;

            div {
                width: 33.33%;
            }
        }

        @media (max-width: 412px) {
            padding: 0 28px;
            div {
                img {
                    width: 45px;
                }
                span {
                    font-size: 15px;
                }
            }
        }
    }

    @media (max-width: 992px) {
        padding: 24px 0;
    }

    @media (max-width: 532px) {
        gap: 40px;
        padding: 24px 0 0 0;
    }
}


.show {
    opacity: 1 !important;
    transform: translateX(0) !important;
}