<div
  class="start-section"
  appInView
  (visibilityChange)="onVisibilityChange($event)"
>
  <!-- <div> -->
  <div class="start-screen-main">
    <div id="start-screen-img" class="start-screen-img">
      <img
        class="profil-bg-color"
        src="assets/img/bg_colors/group.svg"
        alt=""
      />
      <img class="profil-img" src="assets/img/profile.png" alt="" />
    </div>
    <div id="start-screen-text" class="start-screen-text">
      <h3>I am</h3>
      <h1>Regina Gering</h1>
      <h2 class="ft-baloo">FRONTEND DEVELOPER</h2>
    </div>
  </div>
  <!-- <div class="start-screen-bg-element">
    <img src="assets/img/vector_l.svg" alt="" />
  </div> -->
  <div id="cta-text" class="cta-text">
    <span>Scroll down&nbsp;</span
    ><img src="assets/img/icon/arrow-down.svg" alt="" />
  </div>
</div>
<!-- </div> -->
